html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

main {
  margin-left: 100px;
  margin-right: 100px;
}

.font-nav {
  font-family: "Alata", sans-serif;
  font-size: 20px;
  color: black;
  text-decoration: none;
}

.buttom-container {
  display: flex;
  align-items: center;
}

.buttom {
  font-family: "Alata", sans-serif;
  font-size: 24px;
  color: black;
}

.img-buttom {
  width: 3.125rem;
  height: 3.125rem;
}

.listas {
  list-style-type: none;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.listas-2 {
  list-style-type: none;
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
}

h1 {
  height: 6.25rem;
  font-family: "Abhaya Libre", serif;
  font-size: 64px;
}

p,
h3,
h4 {
  font-family: "Alata", sans-serif;
  font-size: 16px;
}

span {
  font-family: "Rouge Script", cursive;
  font-size: 128px;
}

h2,
.font-h2 {
  font-family: "Alata", sans-serif;
  font-size: 40px;
  color: black;
}

h2 {
  width: 100%;
  height: 6.25rem;
  display: flex;
  justify-content: left;
  align-items: center;
}

p,
h6 {
  font-family: "Alata", sans-serif;
  font-size: 20px;
}

.section-con-titulo {
  flex-direction: column;
}

.font-footer {
  font-family: "Alata", sans-serif;
  font-size: 16px;
  color: black;
  list-style-type: none;
  text-decoration: none;
}

footer {
  background-color: #968773;
}

.nav-header {
  width: 100%;
  height: 64px;
  background-color: #7b400b;
  display: flex;
  justify-content: space-around;
}

img,
video {
  width: 100%;
}

.logo-nav {
  display: flex;
  width: 9rem;
  height: 2.5rem;
  background-image: url(../assets/Group\ 1.png);
  background-size: contain;
  background-repeat: no-repeat;
  justify-content: center;
}

.hero-img {
  height: 31.25rem;
  margin-bottom: 4.375rem;
  background-image: url(../assets/Hero\ image.png);
  display: flex;
}

.hero-img-acerca {
  height: 31.25rem;
  margin-bottom: 4.375rem;
  background-image: url(../assets/portrait-mother-little-girl-shaping-clay-together.jpg);
  display: flex;
  background-size: cover;
}

.hero-img-acerca div h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #7b400b;
}

.hero-img div h1 {
  margin-top: 4rem;
  margin-left: 4rem;
  color: white;
}

.hero-img div {
  width: 100%;
  background-color: rgba(8, 8, 8, 0.548);
}

.hero-img-acerca div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video {
  width: 100%;
  height: 31.25rem;
  margin-bottom: 4.375rem;
}

.video video {
  object-fit: cover;
}

.frase-1 {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Alata", sans-serif;
  font-size: 1.5rem;
}

.frase-2 {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Alata", sans-serif;
  font-size: 2.5rem;
}

.valores {
  width: 100%;
  height: 450px;
  margin: 4.375rem 0 4.375rem 0;
}

.valores div {
  width: 100%;
  height: 150px;
}

.valores div h1 {
  height: fit-content;
}

.valor-izq-1 {
  width: 100vp !important;
  display: flex;
  justify-content: left;
  align-items: center;
  background-image: url(../assets/wooden-walkway-leads-beacons-safety-as-twilight-colors-horizon.jpg);
  background-size: cover;
  padding-left: 12.5rem;
}

.valor-centro {
  width: 100vp !important;
  display: flex;
  justify-content: right;
  align-items: center;
  background-image: url(../assets/network-concept-with-red-thread-top-view.jpg);
  background-size: cover;
  padding-right: 12.5rem;
}

.valor-izq-2 {
  width: 100vp !important;
  display: flex;
  justify-content: left;
  align-items: center;
  background-image: url(../assets/sun-shining-through-trees.jpg);
  background-size: cover;
  padding-left: 12.5rem;
}

.direccion {
  display: flex;
  list-style-type: none;
  text-decoration: none;
  padding-top: 3.5rem;
  padding-bottom: 1rem;
}

.direccion li a {
  text-decoration: none;
  color: #968773;
  font-family: "Alata", sans-serif;
  font-size: 16px;
}

.titulo-section {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

section {
  display: flex;
}

.text-section {
  width: 50%;
  height: 36rem;
  padding-right: 1rem;
}

.text-section p {
  margin-bottom: 2.25rem;
  text-indent: 1.5rem;
  font-family: "Alata", sans-serif;
  font-size: 20px;
}

.img-section {
  width: 50%;
  height: 31.25rem;
  overflow: hidden;
}

.img-section-2 {
  width: 50%;
  height: 31.25rem;
  overflow: hidden;
  margin-right: 1.5rem;
}

.img-section-2 img {
  height: 100%;
}

.portada-galeria {
  width: 100%;
  height: 37.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ff805a;
  background-image: url(../assets/Heroimageportada.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.portada-galeria h1 {
  height: auto;
}

.bloque-img-galeria {
  width: 100%;
  height: 28.125rem;
  display: flex;
  gap: 24px;
  margin-bottom: 1.5rem;
}

.bloque-img-1 {
  width: 24.8125rem;
  height: 100%;
}

.bloque-img-1 img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.bloque-img-2 {
  width: 24.8125rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.bloque-img-2 div {
  width: 100%;
  height: 13.3125rem;
}

.bloque-img-2 div img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.filtro-container {
  padding: 1rem;
  width: 18.25rem;
  display: flex;
  flex-direction: column;
  display: inline-block;
}

.drop {
  width: 1rem;
  height: 1rem;
}

.filtro-precio {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.filtro-precio div {
  padding-bottom: 0.75rem;
}

.filtro-precio div form {
  display: flex;
}

.filtro-precio div form input {
  width: 6.125rem;
  margin-right: 0.75rem;
}

.nombre-boton {
  display: flex;
  font-family: "Alata", sans-serif;
  font-size: 0.75rem;
  padding-bottom: 0.75rem;
  padding-top: 0.75rem;
  align-items: center;
  justify-content: space-between;
}

.nombre-boton button {
  width: 1.5rem;
  height: 1.5rem;
  border: none;
  background: none;
}

.lista-filtro {
  list-style-type: none;
}

.lista-filtro li {
  padding-bottom: 0.5rem;
}

.fuente-input {
  font-family: "Alata", sans-serif;
  font-size: 0.75rem; /* no se aplica */
}

.vajilla {
  width: 50%;
  height: 100%;
  background-image: url(../assets/monochromatic-still-life-composition-with-tableware.jpg);
  background-size: cover;
  overflow: hidden;
  margin-right: 0.75rem;
}

.vajilla-container {
  width: 100%;
  height: 31.25rem;
  display: flex;
  align-items: flex-start;
  align-content: center;
}

.vajilla a {
  margin-top: 1.5rem;
  margin-left: 1.5rem;
}

.flecha {
  width: 4rem;
  height: 4rem;
}

.deco {
  width: 100%;
  height: 50%;
  background-image: url(../assets/different-shaped-white-modern-vases-arrangement_23-2149835520.jpg);
  background-size: cover;
  overflow: hidden;
  margin-bottom: 0.375rem;
}

.deco-container {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: flex-start;
}

.deco a {
  margin-top: 1.5rem;
  margin-left: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.deco-container a {
  margin-top: 1.5rem;
  margin-left: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.deco-coleccion {
  width: 100%;
  height: 50%;
  background-image: url(../assets/close-up-arrangement-modern-vases.jpg);
  background-size: cover;
  overflow: hidden;
  margin-top: 0.375rem;
}

.container-deco-coleccion {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.bg-1 {
  background-image: url(../assets/anne-nygard-sHyerRuFqT4-unsplash.jpg);
}
.bg-2 {
  background-image: url(../assets/mixing-clay-pottery-pot.jpg);
}
.bg-3 {
  background-image: url(../assets/pew-nguyen-gwVW9PabQKM-unsplash.jpg); /*no se le aplica el cover*/
}

.titulo-con-boton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.titulo-con-boton div {
  width: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.galeria {
  width: 100%;
  height: 38rem;
  margin-bottom: 4.375rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0.75rem;
}

.galeria img {
  width: 100%;
  height: 100%;
}

.grid-column {
  width: 77.5rem;
  height: 74.625rem;
  display: grid;
  grid-template-areas: ".filtro-container" ".column-2" ".column-3" ".column-4";
  gap: 1.5rem;
  grid-template-columns: repeat(4, 1fr);
}

.column-card-container {
  width: 18.25rem;
  height: 23.875rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.card-container {
  width: 18.25rem;
  height: 100%;
}

.img-card-container {
  width: 100%;
  height: 19.5rem;
}

.img-card-container img {
  width: 100%;
  height: fit-content;
}

.texto-card {
  width: 18.25rem;
  height: 4.375rem;
  font-family: "Alata", sans-serif;
  font-size: 1rem;
  padding: 1.1563rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-flex {
  display: flex;
  gap: 1rem;
  justify-content: right;
  margin: 2.25rem 0;
}

.flecha-nav img {
  width: 1.25rem;
  height: 1rem;
}

.pages-nav {
  display: flex;
  gap: 1rem;
  text-decoration: none;
  list-style-type: none;
}

.pages-nav li a {
  text-decoration: none;
  font-family: "Alata", sans-serif;
  font-size: 1.25rem;
  color: black;
}

.flex-column {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 6.25rem;
}

.seccion-producto {
  width: 77.5rem;
  gap: 1.5rem;
}

.foto-container {
  width: 38rem;
  height: 37.25rem;
}

.foto-1 {
  width: 38rem;
  height: 27.875rem;
  margin-bottom: 0.75rem;
}

.foto-1 img {
  width: 38rem;
  height: 27.875rem;
  object-fit: cover;
}

.fotos-abajo {
  width: 38rem;
  height: 9.375rem;
  display: flex;
  gap: 0.75rem;
}

.foto-2 {
  width: 12.1667rem;
  height: 9.375rem;
}

.foto-2 img {
  width: 12.1667rem;
  height: 9.375rem;
  object-fit: cover;
}

.descripcion {
  width: 38rem;
  height: 37rem;
}

.descripcion p {
  margin-bottom: 2rem;
}

.cantidad {
  margin-bottom: 1rem;
}

.boton-cantidad-container {
  display: flex;
  margin-bottom: 1.5rem;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.boton-cantidad-1 {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 1rem 0 0 1rem;
  border-right-style: none;
  background-color: #968773;
  border-color: black;
  color: white;
}

.boton-cantidad-2 {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0 1rem 1rem 0;
  border-left-style: none;
  background-color: #968773;
  border-color: black;
  color: white;
}

.numero {
  width: 2.5rem;
  height: 2.5rem;
  border-left-style: none;
  border-right-style: none;
  border-color: black;
  text-align: center;
}

.precio {
  font-family: "Alata", sans-serif;
  font-size: 64px;
  color: #ff805a;
  margin-bottom: 1.75rem;
}

.boton-comprar-container {
  display: flex;
  width: 24.375rem;
  height: 4.625;
}

.boton-comprar {
  width: 13.75rem;
  height: 4.625rem;
  background-color: #ff805a;
  border-radius: 16px;
  border: none;
  color: #7b400b;
  font-family: "Alata", sans-serif;
  font-size: 32px;
  margin-right: 6rem;
}

.boton-favoritos {
  width: 4.625rem;
  height: 4.625rem;
  background-color: none;
  border-radius: 16px;
  border-color: #ff805a;
  color: #ff805a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boton-favoritos img {
  width: 1.75rem;
  height: 1.625rem;
}

footer img {
  width: 14rem;
  height: 3.5rem;
}

footer {
  width: 100%;
  height: 15.625rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-footer {
  width: 15rem;
  height: 6rem;
  display: flex;
  background-image: url(../assets/Group\ 1.png);
  background-size: contain;
  background-repeat: no-repeat;
  justify-content: center;
}

footer div {
  width: 22.5rem;
  height: 100%;
  display: flex;
  align-content: center;
}

.lista-footer {
  text-decoration: none;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

footer div nav {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  gap: 1.5rem;
  padding-top: 3rem;
  column-gap: 1.5rem;
}

.botones-footer {
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 1.75rem;
  padding-top: 2.5rem;
  padding-bottom: 3rem;
}

.primer-grupo-botones {
  height: 4.375rem;
  display: flex;
  gap: 1.125rem;
}

.primer-grupo-botones a img {
  width: 2.25rem;
  height: 2.25rem;
}

.primer-grupo-botones a .youtube {
  width: 3.25rem;
  height: 2.25rem;
}

.boton-solo {
  width: 8.75rem;
  height: 3rem;
  font-family: "Alata", sans-serif;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff805a;
  border-radius: 0.75rem;
  color: #7b400b;
}

@media (max-width: 744px) {
  main {
    margin: 0 1.5rem 0 1.5rem;
  }
  .logo-nav {
    width: 6rem;
    background-image: url(../assets/terra.png);
  }
  .font-nav {
    font-size: 1rem;
  }
  .listas {
    width: 70%;
    justify-content: space-between;
  }
  .listas-2 {
    width: 10%;
    justify-content: center;
  }
  .nav-header {
    justify-content: space-evenly;
  }
  .hero-img {
    height: 18.75rem;
    background-size: cover;
    margin-bottom: 1.5rem;
  }
  .hero-img div h1 {
    margin-top: 3rem;
    margin-left: 4rem;
    font-size: 2.25rem;
  }
  span {
    font-size: 4rem;
  }
  .titulo-section {
    margin: 0;
    justify-content: left;
  }
  .text-section {
    height: 31.25rem;
  }
  .text-section p {
    height: 25rem;
    overflow: hidden;
    text-overflow: ellipsis; /* NO FUNCIONA, tampoco con white-space: nowrap */
  }
  .vajilla a {
    margin-top: 0.5rem;
  }
  .vajilla-container a {
    font-size: 1.875rem;
  }
  .deco-container a {
    font-size: 1.875rem;
    margin-top: 0.5rem;
  }
  .flecha {
    width: 2rem;
    height: 2rem;
    margin-top: 0.5rem;
  }
  .titulo-con-boton div {
    justify-content: right;
  }
  .galeria {
    height: 19.75rem;
    margin-bottom: 3rem;
  }
  .logo-footer {
    width: 4rem;
    background-image: url(../assets/Group\ 2.png);
  }
  footer {
    justify-content: space-between;
    padding: 0 1.5rem 0 1.5rem;
  }
  footer div:not(.logo-footer) {
    width: 11.75rem;
  }
}
