main {
  .grid-column {
    width: 77.5rem;
    height: 77.5rem;
    display: grid;
    grid-template-areas: ".filtro-container" ".column-2" ".column-3" ".column-4";
    gap: 1.5rem;
    grid-template-columns: repeat(4, 1fr);
    .filtro-container {
      padding: 1rem;
      width: 18.25rem;
      display: flex;
      flex-direction: column;
      display: inline-block;
    }
    .filtro-precio {
      display: flex;
      flex-direction: column;
      width: 100%;
      .nombre-boton {
        display: flex;
        font-family: "texto", sans-serif;
        font-size: 0.75rem;
        padding-bottom: 0.75rem;
        padding-top: 0.75rem;
        align-items: center;
        justify-content: space-between;
        button {
          width: 1.5rem;
          height: 1.5rem;
          border: none;
          background: none;
          .drop {
            width: 1rem;
            height: 1rem;
          }
        }
      }
      div {
        padding-bottom: 0.75rem;
        form {
          display: flex;
          input {
            width: 6.125rem;
            margin-right: 0.75rem;
          }
        }
      }
      .lista-filtro {
        list-style: none;
        li {
          list-style: none;
          padding-bottom: 0.5rem;
          .fuente-input {
            font-family: "texto", sans-serif;
            font-size: 0.75rem;
          }
        }
      }
    }
  }
  .nombre-boton {
    display: flex;
    font-family: "texto", sans-serif;
    font-size: 0.75rem;
    padding-bottom: 0.75rem;
    padding-top: 0.75rem;
    align-items: center;
    justify-content: space-between;
    button {
      width: 1.5rem;
      height: 1.5rem;
      border: none;
      background: none;
      .drop {
        width: 1rem;
        height: 1rem;
      }
    }
  }
  .column-card-container {
    width: 18.25rem;
    height: 23.875rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  .flex-column {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 6.25rem;
  }
}
