@font-face {
  font-family: "acento";
  src: url(../assets/RougeScript-Regular.ttf);
}
@font-face {
  font-family: "titulo";
  src: url(../assets/PlayfairDisplay-Regular.ttf);
}
@font-face {
  font-family: "texto";
  src: url(../assets/Poppins-Regular.ttf);
}
