@media (max-width: 500px) {
  header {
    .nav-header {
      height: 3.125rem;
      .listas {
        li {
          &:not(:first-child) {
            display: none;
          }
        }
      }
    }
    .hero-img {
      height: 10.375rem;
      background-size: cover;
      margin-bottom: 1rem;
      div {
        background-color: transparent;
        h1 {
          display: none;
        }
      }
    }
    .hero-img-acerca {
      height: 10.375rem;
      background-size: cover;
      margin-bottom: 1rem;
      div {
        background-color: transparent;
        h1 {
          display: none;
        }
      }
    }
    .container {
      margin: 0;
    }
  }
  main {
    margin: 0 1rem 0 1rem;
    p {
      font-size: 1.25rem;
    }
    section {
      margin-bottom: 2rem;
    }
    section {
      flex-direction: column;
      .titulo-section {
        font-size: 1.5rem;
      }
    }
    section {
      .text-section {
        width: 100%;
        height: 28.125rem;
        p {
          margin-bottom: 0;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .buttom-container {
          a {
            font-size: $fuente-1;
          }
          .img-buttom {
            width: 2.5rem;
            height: 2.5rem;
          }
        }
      }
      .img-section {
        display: none;
      }
    }
    .categorias {
      width: 100%;
      flex-direction: column;
      gap: 0.75rem;
      .vajilla {
        width: 100%;
        height: 8.125rem;
        .vajilla-container {
          height: 100%;
          a {
            font-size: 1.25rem;
          }
        }
      }
      .container-deco-coleccion {
        width: 100%;
        height: 16.25rem;
        .deco {
          .deco-container {
            a {
              font-size: 1.25rem;
            }
          }
        }
      }
    }
    .galeria {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      height: max-content;
      img {
        &:nth-child(n + 5) {
          display: none;
        }
        &:first-child {
          order: 2;
        }
      }
    }
    .titulo-con-boton {
      margin: 0;
      height: 3.125rems;
      div {
        display: none;
      }
    }
    .portada-galeria {
      height: 14rem;
      background-size: cover;
      h1 {
        font-size: 1.5rem;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
    .bloque-img-galeria {
      height: max-content;
      gap: 0.75rem;
      margin-bottom: 0.75rem;
      flex-direction: column;
      .bloque-img-1 {
        width: 100%;
        height: 9.375rem;
      }
      .bloque-img-2 {
        width: 100%;
        height: 9.375rem;
        flex-direction: row;
        gap: 0.75rem;
        div {
          width: 50%;
          height: 100%;
          overflow: hidden;
          img {
            height: 100%;
          }
        }
      }
    }
    section {
      display: flex;
      flex-direction: column;
      .img-section-2 {
        display: none;
      }
    }
    .valores {
      margin: 2rem o 2rem 0;
      .valor-izq-1 {
        padding-left: 2rem;
        h1 {
          height: 4rem;
          font-size: 2rem;
        }
      }
      .valor-centro {
        padding-right: 2rem;
        h1 {
          height: 4rem;
          font-size: 2rem;
        }
      }
      .valor-izq-2 {
        padding-left: 2rem;
        h1 {
          height: 4rem;
          font-size: 2rem;
        }
      }
    }
    .video {
      height: max-content;
    }
  }
  footer {
    flex-direction: column;
    height: max-content;
    padding-bottom: 2rem;
    h3 {
      font-size: 1rem;
      margin-bottom: 0;
      font-weight: bold;
      color: black;
    }
    .logo-footer {
      display: none;
    }
    div {
      width: 7.625rem;
      nav {
        gap: 0.75rem;
        margin-top: 1.25rem;
        padding: 0;
        height: 140px;
        .lista-footer {
          li {
            .font-footer {
              font-family: "texto", sans-serif;
              font-size: 0.75rem;
            }
          }
        }
      }
    }
    .botones-footer {
      padding-top: 1.5rem;
      gap: 1rem;
      padding-bottom: 0;
      .primer-grupo-botones {
        justify-content: center;
        align-self: center;
        height: 1.875rem;
        a {
          img {
            width: 1.5rem;
            height: 1.5rem;
          }
          .youtube {
            width: 2rem;
            height: 1.5rem;
          }
        }
      }
      .boton-solo {
        width: 9rem;
        height: 1.75rem;
        border-radius: 0.75rem;
        align-self: center;
      }
      .boton-solo-container {
        display: flex;
        justify-content: center;
        a {
          font-size: 1rem;
        }
      }
    }
  }
}
